.upperc {
    background-color: rgb(187, 139, 149);
    height: 150px;
    width: 1205px;
    border-radius: 20px;
}
   

.upper h1 {
    text-align: center;
    color: rgb(4, 27, 48);
    padding-top: 80px;
    padding-bottom: 100px;
    

}

.ReturnPolicy1 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-right: 150px;
    padding-left: 150px;

}

.ReturnPolicy1 li {
    text-align: start;
    font-style: normal;
    font-size: 2rem;
}

.ReturnPolicy1 ol {

    display: flex;
    flex-direction: column;
    gap: 20px;

}

